@import url(http://fonts.googleapis.com/css?family=Gentium+Basic);


// ----------------------------------------
// ! variable
// ----------------------------------------
@base: 24px;
@z-nav: 100;
@z-nav-mobile: 10;
@z-cover: @z-nav + 10;

@mobile-nav-width: @base*10;
@mobile-login-width: @base*10;

//1.4rem=14px; rem =10px;

// ----------------------------------------
// ! common style
// ----------------------------------------
.vertical-center {
	position: absolute;
	top:50%;
	transform: translateY(-50%);
}

.common-container {
	background: #aaa;
	padding: @base*2;

}

.vertical-bottom {
	position: relative;

	.vertical-bottom-target {
		position: absolute;
		bottom: 0;
	}
}

.white-block {
	width: 100%;
	height: @base;
}

.block-center {
	display: block;
	margin: 0 auto;
}

.full-height {
	height: 100%;
}

body {
	background: #000;
	font-family: "Microsoft YaHei", Arial, helvetica, sans-serif;
}

html,body,.page {
	width: 100%;
	height: 100%;
}

a:hover {
	text-decoration: none;
}

.page {
	background: #f4f4f4;
	max-width: 1600px;
	margin: 0 auto;
	position: relative;
	z-index: @z-nav;
	transition: .65s ease transform;
}
.bluegreen {
	color: #0096B8;
}

// ----------------------------------------
// ! header
// ----------------------------------------

header {
	>.container {
		position: relative;
		height: @base*5;

		h1{
			margin: 0;
			padding: 0;
			height: 50%;
			.vertical-center();

			img {
				height: 100%;
			}
		}

		// ----------------------------------------
		// ! navigation desktop
		// ----------------------------------------

		nav.desktop {
			right: 0;
			.vertical-center();
			z-index: @z-nav;

			a {
				font-family: "Microsoft YaHei", Arial, helvetica, sans-serif;
				color: inherit;
			}

			.nav-pills>li.active>a {
				background: none;
				color: inherit;
			}
			.nav-pills>li.open>a {
				background: none;
				color: #0096B8;
			}

			.dropdown-menu {
				background: rgba(255,255,255,.88);
				border-radius: 0;
				border-top: #0096B8 3px solid;
				padding: 0;

				li {
					border-bottom: dotted #474747 1px;

					a {
						color: #474747;
						line-height: 3rem;
					}
				}

				li:last-child {
					border: none;
				}
			}

			.dropdown-menu>li>a:hover {
				color: #0096B8;
			}
		}
	}
}

// ----------------------------------------
// ! banner
// ----------------------------------------

.banner {
	position: relative;
	width: 100%;
	overflow-x: hidden;

	.item {
		height: @base*21;
		width: 100%;
		background-size: cover;
	}

	ol.carousel-indicators {
		bottom: 10px;

		li {
			width: 15px;
			height: 15px;
			border-radius: 15px;
			margin: 7px;
		}

		li.active {
			width: 15px;
			height: 15px;
		}
	}

	.login {
		.vertical-center();
		left: 55%;
		background: url(../images/cloud.png);
		width: 395px;
		height: 242px;

		form {
			position: absolute;
			width: 100%;
			top: 100px;
			left: 100px;

			.form-group {
				margin-bottom: 5px;
			}

			.error-info {
				position: absolute;
				top: -24px;
			}
		}
	}
}


// ----------------------------------------
// ! home>main
// ----------------------------------------
.home {
	background: #555;

	.main {
		background: url(../images/blackboard.jpg) repeat;
		width: 100%;
		padding-bottom: @base*2;

		.container {
			padding-top: @base*2;
		}

		.advantage-section-two {

			.item {
				padding-bottom: @base*2;
			}
		}

		.ad {
			padding-bottom: @base*2;

			.blue-radius {
				border-radius: 5px;
				background: #3388CD;
				color: #fff;
				text-align: center;
				padding: 1rem;
			}
		}

		.xueba {
			margin-left: 3rem;
		}
	}

	.info {
		padding-left: 14.5%;
		padding-top: 1.2rem;

		a {
			color: #fff;
			margin-right: 1.2rem;
			font-size: 1.2rem;
			color: #aaa;
			font-family: serif;
		}
	}

	footer {
		background: #f4f4f4;
		background: linear-gradient(to bottom, #aaa 0%, #f4f4f4 10px);
	}
}

// ----------------------------------------
// ! footer
// ----------------------------------------
footer {

	div.container:nth-child(1) {
		>div {
			padding-bottom: @base/2;
		}
	}

	padding: @base 0 0;

	h4 {
		color: #49536b;
	}

	ul {
		padding: 0;
		margin-left: 2rem;
		margin-bottom: 0;
	}

	.copyright {
		padding: 1rem;
	}

	ul, .copyright {
		font-size: 1.2rem;
		font-family: serif;
	}

	ul > li a {
		line-height: 3rem;
	}

	ul {
		list-style: none;

		li {
			position: relative;

			&::before {
				position: absolute;
				content: '•';
				left: -1rem;
				top: 1rem;
				color: #999;
				font-family: serif;
				font-size: 1rem;
			}
		}
	}
}


// ----------------------------------------
// ! en page
// ----------------------------------------

.en {
	.top-bar {
		height: @base*1.5;
		line-height: @base*1.5;
		background: #242424;
		position: relative;

		.container {
			position: relative;
			height: 100%;

			.dropdown {
				margin: 0;

				>a {
					padding: 0;
				}
			}
		}

		a {
			padding-left: 3rem;
			font-size: 1.4rem;
			color: #0096B8;

			&:hover {
				text-decoration: none;
				color: #00b6db;
			}
		}
	}

	header>.container{
		height: @base*3.5;

		h1 {
			transform: translateY(-75%);
		}
	}

	.dropdown {
		.vertical-center();
		z-index: @z-nav;
		margin-left: 2rem;

		a {
			color: #242424;
			font-size: 1.2rem;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.searchform {
		z-index: @z-nav;
	}

	.main {
		background: #F2F2F2;
		padding-top: @base*2;

		section.container {
			margin-bottom: @base*2;
			border: #CFCFCF solid 1px;
			background: #fff;
			padding: @base 0;

			.reg-button {
				display: inline-block;
				padding: 10px 60px;
				font-size: 25px;
				margin-top: 10px;
				border: #007996 1px solid;
				background: linear-gradient(#00B8E6 0%, #0083A1 100%);
				color: #fff;


				&:hover {
					text-decoration: none;
					background: linear-gradient(#00A0D0 0%, #006391 100%);
				}
			}

			.essay, .earn {
				margin: 2rem 0;

				h1 {
					margin: 0;
					color: #003C4B;
				}

				h1, .duration {
					display: inline-block;
					padding-left: 3rem;
				}
			}

			.essay, .hot-keywords {
				margin-top: 5rem;
			}

			.hot-keywords a{
				padding: 6px 12px;
				line-height: 3.5rem;
				border: 1px #eee solid;

				&:hover {
					text-decoration: none;
				}
			}

			h5 {
				font-size: 18px;
			}
			h5.ad-01 {
				color: #54B2C7;
			}
			h5.ad-02 {
				color: #2CB04D;
			}
			h5.ad-03 {
				color: #FE9828;
			}

			.commend {

				p.content {
					font-family: 'Gentium Basic', serif;
					font-style: italic;
					color: #555;
					font-size: 1.8rem;

					&::before {
						font-family: 'Gentium Basic', serif;
						content: '“ ';
						font-size: 38px;
						vertical-align: bottom;
						line-height: 14px;
					}
					&::after {
						font-family: 'Gentium Basic', serif;
						content: ' ”';
						font-size: 38px;
						vertical-align: bottom;
						line-height: 14px;
					}
				}

				.info {
					color: #666;
				}
			}
		}
	}

	footer {
		background: #E6E6E6;
		box-shadow: 0 -5px 5px #aaa;
		padding-bottom: 6rem;

		ul{
			margin: 0;

			a {
				color: #888;

				&:hover {
					text-decoration: none;
					color: #333;
				}
			}
		}
		ul li::before {
			content: '';
		}

		.copyright {
			color: #898989;
			padding:2rem 0 0;
		}
	}
}

/* page of system information */

.sys-info {
	h5 {
		color: red;
		margin: 2rem;
		font-size: 2.5rem;
	}

	a {
		display: block;
		line-height: 2.5rem;
		font-size: 1.2rem;
	}
}

@media (max-width: 768px) {
	.sys-info {
		padding: @base*2 @base*1 @base*4;
	}
}

@media (max-width: 480px) {
	.sys-info {
		padding: @base*2 @base*.5 @base*2;
	}
}

/* end. page of system information */

// ----------------------------------------
// ! responsive area
// ----------------------------------------

.page.mobile-nav {
	transform: translateX(-@mobile-nav-width);
	position: fixed;
}
.page.mobile-login {
	transform: translateX(@mobile-login-width);
	position: fixed;
}

// ----------------------------------------
// ! mobile navigation
// ----------------------------------------

nav.mobile {
	position: absolute;
	right: 0;
	z-index: @z-nav-mobile;
	top: 0;
	width: @mobile-nav-width - @base*2;
	height: auto;
	margin: @base;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.panel {
		border-radius: 0;

		background: none;
		color: #fff;

		.panel-heading {
			padding: 0;

			a {
				padding: 10px 15px;
				display: block;

				&:hover {
					text-decoration: none;
					background: rgba(255, 255, 255, .3);
				}
			}
		}

		.panel-body {
			border: none !important;
		}

		ul a {
			color: #ddd;
			padding-left: @base;
		}
	}
}

.nav-cover, .login-cover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: @z-cover;
	background: rgba(0,0,0,.7);
	cursor: pointer;
	width: 100%;
	height: 100%;
}

/* service process list */
@c-dark-blue: #0093B8;
@c-light-blue: #E5FBFF;
@c-dark-red: #C40000;
@c-light-red: #FFE6E7;
@w-block-list-before: @base*3;
.service-process {
	background: #fff;
	padding: @base*2 0;
}
.block-list {
	.item {
		background: @c-light-blue;
		padding: @base;
		position: relative;
		padding-left:@base + 6px;
		margin: @base*.25 0;

		h5 {
			color: @c-dark-blue;
			font-size: 24px;
			line-height: 24px;
			margin-top: 0;
			margin-bottom: 24px;;
		}

		p{
			color: #999;
			font-size: 14px;
		}
	}
	.item::before {
		position: absolute;
		content: ' ';
		left: 0;
		top: 0;
		background: @c-dark-blue;
		width: 6px;
		height: 100%;
	}
	.item .num {
		display: none;
	}

}
.block-list.list-num {
	.item {
		padding-left:@base + @w-block-list-before;
		margin: @base*.5 0;
	}
	.item::before {
		width: @w-block-list-before;
	}
	.item .num {
		font-family: Arial, sans-serif;
		color: #fff;
		.vertical-center();
		left: 0;
		width: @w-block-list-before;
		font-size: 80px;
		text-align: center;
		display: block;
	}

}



.block-list.list-red {
	.item {
		background: @c-light-red;

		h5 {
			color: @c-dark-red;
		}
	}
	.item::before {
		background: @c-dark-red;
	}
}

@media (min-width: 1200px) {
	.list-num .item {
		min-height: 150px;
	}
}

/* end. service process list */

/* reg */

.reg {
	.error-info {
		font-size: 12px;
		padding-top: 4px;
	}
}

/* end. reg */

// ----------------------------------------
// ! mobile login
// ----------------------------------------

.login.mobile {
	position: absolute;
	left: 0;
	z-index: @z-nav-mobile;
	top: 0;
	width: @mobile-nav-width - @base;
	height: 100%;
	margin: @base/2;
}

// ----------------------------------------
// ! mobile & tablet
// ----------------------------------------

/* ! Medium devices, (desktops, 992px and up) */
@media (max-width: 992px) {
	.home header {

		.nav-mobile-trigger {
			right: @base;
			font-size: 3rem;

			a {
				color: #0097B8;
			}
		}
		.login-mobile-trigger {
			right: @base*3;
			font-size: 3rem;

			a {
				color: #0097B8;
			}
		}
	}
}

/* ! device, (tablets, 480px and up) */
@media (max-width: 768px) and (min-width: 480px) {
	.home {
		.main .col-xs-12 {
			width: 50%;
		}
	}
}

/* ! device, (tablets, 480px and up) */
@media (max-width: 768px) {
	ul.xs-float li{
		float: left;
		padding-right: @base*1.5;
	}
	header > .container h1{
		height: 45%;
	}
}

/* ! device, (tablets, 480px and up) */
@media (max-width: 480px) {
	header > .container h1{
		height: 40%;
	}
}


// ----------------------------------------
// ! en mobile home page.
// ----------------------------------------
.en {
	.top-bar .container {
		.dropdown>a {
			color: #fff;
		}
	}
}

/* ! device, (tablets, 480px and up) */
@media (max-width: 768px) {
	.en {

		.main {
			padding-top: 88px;
			background: #aaa;

			.text-right {
				text-align: center;
			}

			section.container {
				padding: 1rem;

				.reg-button {
					width: 60%;
					padding: 1rem 3rem;
					margin: 1rem auto;
					text-align: center;
					display: block;
				}

				.essay, .hot-keywords {
					margin-top: 3rem;
				}

				.hot-keywords {
					text-align: center;
				}
			}

			.essay, .earn {
				h1 {
					font-size: 3rem;
				}

				.duration {
					padding-left: 3rem;
					width: auto;
				}
			}

			.ad-three-feature {

			}


			.commend .info {
				padding-bottom: @base;
			}
		}
	}
}

@media (max-width: 480px) {
	.en .top-bar a {
		font-size: 1rem;
		padding-left: 1rem;
	}

	.en .main section.container {
		.reg-button {
			padding: 1rem;
			font-size: 1.5rem;
		}

		h1.bluegreen {
			font-size: 3rem;
		}

		.essay, .earn {
			.duration {
				padding-left: 3rem;
				width: auto;
			}
		}

		h5 {
			font-size: 1.4rem;
		}


	}

}

@media (max-width: 320px) {
	.en .main section.container {
		.reg-button {
			padding: 1rem;
			font-size: 1.5rem;
		}

		h1.bluegreen {
			font-size: 2rem;
		}

		.essay, .earn {
			.duration {
				padding-left: 3rem;
				width: auto;
			}
		}

	}
}


/* co-intro */
.co-intro {
	background: #fff;
	color: #777;
	padding: @base 0 @base*3;

	p {
		padding-bottom: 24px;
	}

	h3 {
		color: #000;
	}

	h4 {
		padding-bottom: 24px;
		font-weight: bold;
	}

	.ad {
		background: #3388CD;
		padding: @base;
		color: #fff;
		margin-top: @base*2;
	}
	.text-warning {
		color: #f0ad4e;
	}
	.text-success {
		color: #00AE00;
	}
	.text-muted {
		font-size: 12px;
	}

	ol {
		padding-left: @base;
	}

	.commend p.content::before{
		font-family: 'Gentium Basic', serif;
		content: '“ ';
		font-size: 24px;
		vertical-align: bottom;
		line-height: 14px;
	}
	.commend p.content::after{
		font-family: 'Gentium Basic', serif;
		content: ' ”';
		font-size: 24px;
		vertical-align: bottom;
		line-height: 14px;
	}

	.commend .item {
		padding-left: @base*2;
		position: relative;

		.glyphicon-comment {
			position: absolute;
			top: 0;
			left: 0;
			font-size: 18px;
		}

		p {
			padding-bottom: @base*.5;
		}
	}
}

.inline-block-list {
	.item {
		padding: @base;
		min-height: 88px;
	}
}

@media (min-width:992px) {
	.co-intro .container {
		.col-md-6:nth-child(2) {
			padding-top: @base*3;
		}
	}
}

/* end. co-intro */


/* order */
.order {
	background: #fff;
	.panel {
		box-shadow: 0 0 5px #aaa;
	}
	.panel-body {
		padding: 0;
	}
	.form-group {
		padding: @base*.5 @base*2;
	}

	.form-group:nth-child(2n) {
		//background: #eee;
	}

	hr {
		margin: 0;
		border-style: dotted;
		border-color: #555;
	}
}
/* end. order */


/* user */
@c-black-blue: #002830;
@h-app-top-bar: @base*2;

@keyframes shakeY {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-2px);
	}
	75% {
		transform: translateY(2px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes shakeX {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-2px);
	}
	75% {
		transform: translateX(2px);
	}
	100% {
		transform: translateX(0);
	}
}

/* end. user */


/* app */
@z-app-content: 10;
@z-app-nav: 100;
@w-app-nav: @base*3;

.app-top-bar {
	.logo {
		width: @w-app-nav;
		height: @h-app-top-bar;
		display: inline-block;
		position: absolute;
		left: @base;

		.img {
			.vertical-center();
		}
	}

	background: @c-black-blue;
	height: @h-app-top-bar;
	padding-right: @base;

	.glyphicon {
		line-height: @h-app-top-bar;
		color: #ccc;
		cursor: pointer;

		&:hover {
			color: #fff;
		}
	}

	.desktop {
		padding-left: @w-app-nav * 2;
	}

	nav {
		>ul>li {
			float: left;
		}
		>ul>li>a {
			line-height: @h-app-top-bar;
			color: #ccc;
			padding: 0 15px;


			&:hover {
				color: #fff;
			}
		}
		a {
			font-size: 1.2rem;
		}

		.open>a {
			color: #fff;
		}

		>ul>li>a{
			background: @c-black-blue !important;

			&:hover {
				background: @c-black-blue !important;
			}
		}

	}
}

.app {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.app-nav, .app-content {
	position: absolute;
	top: 0;
	bottom: 0;
}

.app-nav {
	left: 0;
	width: @w-app-nav;
	background: @c-black-blue;
	z-index: @z-app-nav;
	padding: @base 0;

	nav.bottom {
		position: absolute;
		bottom: @base*2;
	}

	a {
		display: block;
		color: #fff;
		overflow: hidden;
		font-size: 24px;
		box-sizing: border-box;
		transition: .3s;
		width: @w-app-nav;
		overflow: hidden;
		height: 48px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;

		.detail {
			font-size: 14px;
			line-height: 48px;
			float: left;
			font-family: "Microsoft YaHei", Arial, helvetica, sans-serif;
		}

		.icon {
			float: left;
			line-height: 48px;
			height: 48px;
			padding-left: 24px;
			padding-right: 12px;
		}

		&:hover {
			background: #aa4000;
			width: @w-app-nav*2;
			text-align: left;
		}
	}
}

.app-content {
	left: @w-app-nav;
	right: 0;
	z-index: @z-app-content;

	.content {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		padding:@base @base*2;
		overflow: auto;
	}
}
/* end.app */


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



/* member message */
.message-nav, .message-content {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow-y: auto;
}
.message-nav {
	left: 0;
	width: 20%;
	background: #eee;

	.item {
		border-bottom: 1px solid #aaa;
		padding: 6px 6px 6px 12px;
		display: block;
		transition: .5s;
		position: relative;

		h4 {
			color: #000;
			margin-top: 0;
		}

		span.state {
			padding-left: 24px;
		}

		span.time {
			color: #aaa;
		}
	}

	.item.active {
		background: #ddd;

		&::after {
			content: '\e072';
			position: absolute;
			right: -5px;
			top: 50%;
			font-size: 24px;
			transform-origin: 50% 50%;
			transform:translateY(-50%) rotate(180deg) ;
			color: #fff;
			font-family: 'Glyphicons Halflings';
		}
	}

	.item:hover {
		background: #ddd;
	}

	.title {
		padding: 0 12px;
		background: #B62E00;
	}
}
.message-content {
	left: 20%;
	width: 80%;

	.info {
		padding: 0;
	}
}
/* end. member message */